---
- name: install the epel rpm from a remote repo
  yum:
    name: epel-release
    state: latest

- name: add epel public key
  rpm_key:
    state: present
    key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-7

- name: setup third party repository (remi)
  yum:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
    - http://rpms.famillecollet.com/enterprise/remi-release-7.rpm
  when: php_version != "Zend5.6"

- name: setup third party repositories (mysql-community 5.7)
  yum:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
    - "http://repo.mysql.com/mysql57-community-release-el7.rpm"
  when: mysql_version=="5.7"

- name: Add Mysql 5.5 repository
  yum_repository:
    name: mysql55-community
    description: MySQl 5.5 Community Server
    baseurl: http://repo.mysql.com/yum/mysql-5.5-community/el/6/$basearch
    enabled: 1
  when: mysql_version == "5.5"

- name: Disable Mysql 5.7 repository when MySQL 5.5 requested
  command: "yum-config-manager --disable repository mysql57-community"
  when: mysql_version == "5.5"

- name: Add ZendPHP 5.6 repository
  yum_repository:
    name: zendphp
    description: Zend Enterprise PHP 5.6
    baseurl: "https://{{zendphp_username}}:{{zendphp_password}}@repos.zend.com/zendphp/rpm_centos6/$basearch"
    enabled: 1
    gpgcheck: 1
    gpgkey: https://repos.zend.com/zend.key
  when: php_version == "Zend5.6"

- name: Add ZendPHP 5.6 repository (noarch)
  yum_repository:
    name: zendphpnoarch
    description: Zend Enterprise PHP 5.6 NoArch
    baseurl: "https://{{zendphp_username}}:{{zendphp_password}}@repos.zend.com/zendphp/rpm_centos6/noarch"
    enabled: 1
    gpgcheck: 1
    gpgkey: https://repos.zend.com/zend.key
  when: php_version == "Zend5.6"

- name: update/install required packages 1
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
    - nss
    - nc
    - yum-plugin-versionlock
    - libselinux-python
    - git
    - vim
    - nano
    - tmux
    - docker

- name: update/install required packages MySQL 5.7
  yum:
    name: "{{ packages }}"
    state: latest
    enablerepo: mysql57-community
    disablerepo: epel
    disable_gpg_check: yes
  vars:
    packages:
      - mysql-community-server
      - mysql-community-client
  when: mysql_version == "5.7"

- name: update/install required packages MySQL 5.5
  yum:
    name: "{{ packages }}"
    state: present
    enablerepo: mysql55-community
    disablerepo: epel
    disable_gpg_check: yes
  vars:
    packages:
      - mysql-community-server-5.5.41-2.el6.x86_64
      - mysql-community-client-5.5.41-2.el6.x86_64
  when: mysql_version == "5.5"

- name: update/install required packages 2
  yum:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - MySQL-python
      - mysql-connector-python
      - memcached
      - nginx
      - ant
      - ImageMagick
      - ImageMagick-devel
      - docker

- name: Lock packages to required versions
  shell: yum versionlock {{ item }}
  with_items: { versionlock_items }
  when: (versionlock_items is defined)
